/Users/yoshi/analysis/D2AM_base_files/WOS-NewServ_5Nov22.h5
/Users/yoshi/data/X-ray/D2AM/2023/a021915/bm02/20230505/RAW_DATA/sample5/sample5_0001/sample5_0001.h5
12_6WOS.poni
/Users/yoshi/analysis/D2AM_base_files/WOS_flat_carbon.dat
/Users/yoshi/analysis/D2AM_base_files/mask_WOS_new.dat
